.swipper {
  //   width: 1300px;
  .swiper-button-prev:after {
    font-size: 24px !important;
  }
  .swiper-button-next::after {
    font-size: 24px !important;
  }
}

.swiperNews {
  h3 {
    margin-top: 50px;
  }
}
.swipper {
  margin-block: 20px;
}
.swipper > div {
  transition-timing-function: linear !important;

  & > div {
    width: 250px;
    cursor: initial;
    // display: flex;
    // align-items: center;
  }
}
